<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-通讯录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>443BA86A1CA1764B0047E3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>443BA8831CA1764B0047E3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>443BA88E1CA1764C0047E3A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
