<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5-01___iOS9新特性之关键字.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4442976E1D118D4100C2B2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444297871D118D4100C2B2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444297921D118D4100C2B2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
