<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>08-转场动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>443DD0E31CBA1E2800C8C9BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>443DD0FC1CBA1E2800C8C9BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>443DD1071CBA1E2800C8C9BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
